/*-------------------------*/
/* $Catalog 
---------------------------*/
/** 
 * Globel
 * Element
 * *background
 * *btn
 * *form
 * *image
 * *img_box
 * Header
 * Hero
 * Work
 * Footer
 * Parallax graphic
**/


/*-------------------------*/
/* $Globel
---------------------------*/

/*-------------------------*/
/* $Elements
---------------------------*/

/* background 
---------------------*/
.bg{
    position:fixed;
    width: 100%;
}

.bg__img-1{
   height: 100vh;
   background-color: #a3cdd9;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='36' viewBox='0 0 100 18'%3E%3Cpath fill='%23506ad4' fill-opacity='1' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");
}

/*.bg__img-2{
    height: 500px;
    background-color: #a3cdd9;
    background-image: url("data:image/svg+xml,%3Csvg width='150' height='150' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23506ad4' fill-opacity='1'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.bg__img-3{
    height: 500px;
    background-color: #a3cdd9;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23506ad4' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 0h35v35H0V0zm5 5h25v25H5V5zm5 5h15v15H10V10zm5 5h5v5h-5v-5zM40 5h25v25H40V5zm5 5h15v15H45V10zm5 5h5v5h-5v-5zM70 35H35v35h35V35zm-5 5H40v25h25V40zm-5 5H45v15h15V45zm-5 5h-5v5h5v-5zM30 40H5v25h25V40zm-5 5H10v15h15V45zm-5 5h-5v5h5v-5z'/%3E%3C/g%3E%3C/svg%3E");
}
*/

/*.lean-bg--top:before,
.lean-bg--bottom:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 120px;
    background-color: #fff;
}
@media (max-width: 768px){
    .lean-bg--top:before,
    .lean-bg--bottom:after{
        height: 80px;
    }
}
.lean-bg--top:before{
    top: 0;
    transform: skewY(-5deg) translateY(-50%);
}
.lean-bg--bottom:after{
    bottom: 0;
    transform: skewY(-5deg) translateY(50%);
}
.lean-bg--top{
    margin-top: 0px;
}
@media (max-width: 768px){
    .lean-bg--top{
        margin-top: 50px;
    }
}
.lean-bg--bottom{
    margin-bottom: 100px;
}
@media (max-width: 768px){
    .lean-bg--bottom{
        margin-bottom: 80px;
    }
}
.lean-bg--no-margin{
    margin: 0;
}*/

/* btn
---------------------*/
 /* base structure */
.btn{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 0;
    height: 44px;
    padding: 12px 24px;
    min-width: 64px;
    box-sizing: border-box;
    /* style */
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    font-family: 'Raleway', 'Noto Sans TC', 'Arial', sans-serif;
    letter-spacing: 0;
    text-transform: uppercase;
    text-decoration: none;
    color: #353630;
    background-color: #d1d2d3;
    border: 0;
    border-radius: 20px;
    outline: none;
    /* interact */
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    /*-webkit-user-drag: none;*/
    transition: background-color 0.3s;
}

.btn--shadow{
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.btn--hover,
.btn:hover{
    background-color: #b4b6b8;
    color: #353630;
    text-decoration: none;
}
.btn--active,
.btn:active{
    background-color: #b4b6b8;
    color: #353630;
    text-decoration: none;
}

.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 75%;
  padding-top: 75%;  
  border-radius: 100%;
  visibility: hidden;
  background-color: rgba(236, 240, 241, .3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  visibility: visible;
  width: 120%;
  padding-top: 120%;
  transition: width .1s ease-in, padding-top .1s ease-in;
}

.btn.btn--highEmphasis{
    color: #000;
    background-color: #FFC3B8;
}

.btn.btn--highEmphasis-hover,
.btn.btn--highEmphasis:hover,
.btn.btn--highEmphasis-focus,
.btn.btn--highEmphasis:focus{
    background-color: #76C9BF;
}

.btn.btn--mediumEmphasis{
    color: #506AD4;
    background-color: transparent;
    border: 1px solid #506AD4;
    box-sizing: content-box;
}

.btn.btn--mediumEmphasis-hover,
.btn.btn--mediumEmphasis:hover,
.btn.btn--mediumEmphasis-focus,
.btn.btn--mediumEmphasis:focus{
    background-color: #506AD4;
    color: #fff;;
}


.btn.btn--lowEmphasis{
    background-color: transparent;
    color: #94F2D7;
    font-weight: 600;
}

.btn.btn--lowEmphasis-active,
.btn.btn--lowEmphasis:active,
.btn.btn--lowEmphasis-focus,
.btn.btn--lowEmphasis:focus{
    background-color: #d1d2d3;
}

.btn--disable{
    background-color: #d1d2d3;
    color: #fff;
    pointer-events: none;
}
/* Size */
.btn.btn--lg{
    font-size: 22px;
    line-height: 56px;
    height: 56px;
    font-weight: 400;
}
.btn.btn--md{
    font-size: 18px;
    line-height: 48px;
    height: 48px;
    border-radius: 24px;
}
.btn.btn--sm{
    font-size: 14px;
    line-height: 32px;
    height: 32px;
}

/* Position */
.btn-group{
}

.btn-group--center{
    text-align: center;
}

.btn-group--right{
    text-align: right;
}

.btn-group--left{
    text-align: left;
}

/*textbtn*/
.btn-text{
    display: inline-block;
    position: relative;
    margin: 0;
    height: 36px;
    line-height: 36px;
    padding: 0;
    min-width: 64px;
    box-sizing: border-box;
    /* style */
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    font-family: 'Raleway', 'Noto Sans TC', 'Arial', sans-serif;
    letter-spacing: 0;
    text-transform: uppercase;
    text-decoration: none;
    color: #353630;
    outline: none;
    /* interact */
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    /*-webkit-user-drag: none;*/
}
.btn-text:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #353630;
    transition: all 0.3s;
}
.btn-text:hover:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #353630;
}

/* form
---------------------*/
.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form input[type="url"],
.form input[type="date"],
.form input[type="month"],
.form input[type="time"],
.form input[type="datetime"],
.form input[type="datetime-local"],
.form input[type="week"],
.form input[type="number"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="color"],
.form select,
.form textarea {
    padding: 8px 6px;
    display: inline-block;
    border: 2px solid #fff;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    color: #fff;
    font-weight: 400;
}

.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form input[type="email"]:focus,
.form input[type="url"]:focus,
.form input[type="date"]:focus,
.form input[type="month"]:focus,
.form input[type="time"]:focus,
.form input[type="datetime"]:focus,
.form input[type="datetime-local"]:focus,
.form input[type="week"]:focus,
.form input[type="number"]:focus,
.form input[type="search"]:focus,
.form input[type="tel"]:focus,
.form input[type="color"]:focus,
.form select:focus,
.form textarea:focus {
    outline: 0;
    border-color: #F2CC39;
    border-width: 2px;
}


/* image
---------------------*/


/* imgbox
---------------------*/
.imgbox{
    width:100%;
    position: relative;
    left:0;
    padding-bottom: 16px;

}
.imgbox-inner{
    width:100%;
    height:0;
    padding-top:calc(100% * 1 / 1);
    position: relative;
}

.imgbox-9-16{
    padding-top:calc(100% * 9 / 16);
}
.imgbox-2-3{
    padding-top:calc(100% * 2 / 3);
}
.imgbox-3-4{
    padding-top:calc(100% * 3 / 4);
}
.imgbox-img{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;
    right:0px;
    background-size: cover;
    background-position: center;;
}
.imgbox-round{
    border-radius: 50%;
}


/*-------------------------*/
/* $Header
---------------------------*/

/*navBar*/
.navBar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all 0.3s;
}

.header--colored{
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(20px);
}

.navBar__socialBar,
.navBar__group{
    text-decoration: none;
    padding: 24px 0px 24px 0px;
}
@media (max-width: 768px){
    .navBar__socialBar{
    padding: 20px;
    }
}

.navBar__socialBar .navBar__socialBar-icon,
.navBar__group .navBar__group-item{
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
    color: #FFC3B8;
    transition: all 0.3s;
    padding-bottom: 0;
}

.navBar__group{
    margin-bottom: 0;
}
/*.header--colored .navBar__socialBar-icon{
    color: #76C9BF;
}
*/

.navBar__socialBar .navBar__socialBar-icon:hover{
   transform: translateY(-10px);
   color: #76C9BF;
}

.menu-toggle{
    height: 70px;
    width: 80px;
    display: inline-block;
    padding: 24px;
    padding-top: 26px;
    display: none;
}

@media (max-width: 768px){
    .menu-toggle{
    height: 64px;
    width: 64px;
    padding: 24px;
    padding-top: 22px;
    display: block;}
    .navBar__group{
    display: none;
    }
}
.menu-toggle span{
    display: block;
    width: 30px;
    height: 2px;
    background-color: #FFC3B8;
    margin-bottom: 8px;
    transition: all 0.3s;
}
.header--colored span{
    background-color: #FFC3B8;
}

.menu-toggle:hover span:nth-child(1){
    transform: translateX(-20%);
}

.menu-toggle:hover span:nth-child(3){
    transform: translateX(20%);
}

.popup-menu{
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    transition: all 0.3s;
}


#popup-overlay:target{
    display: block;
}

.menu-close i{
    display: inline-block;
    font-size: 30px;
    color: #FFC3B8;
    padding: 24px;
    transition: all 0.3s;
}

.menu-close i:hover{
    transform: rotate(50deg);
    color: #A3CDD9;
}

.popup-menu__list{
}


.popup-menu__item{
    display: block;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
    text-align: center;
    text-decoration: none;
    color: #FFC3B8;
    text-transform: uppercase;
}

.popup-menu__item:hover{
    text-decoration: none;
    color: #A3CDD9;
}

/*-------------------------*/
/* $Hero
---------------------------*/
/*main*/
.hero{
    position: relative;
    height:100vh;
    top: 70px;
}


.hero__content{
    top: 20vh;
    position: absolute;
    padding-left: 28px;
    padding-right: 100px;
}
.hero__about{
    top: 10vh;
    position: absolute;
}
.hero__heading{
    color: #76C9BF;
    font-size: 60px;
}

@media (max-width: 768px){
    .hero__heading{
        font-size: 56px;
    }
}
.hero__text{
    color: #000;
}





/*work*/
.work{
    position: relative;
}
.work__group-inner{
    padding-top: 0px;
     padding-bottom: 60px;
}
.work__group-item{
    padding-top: 24px;
}
.work__group-item-right{
    text-align: right;
}
.work__group-item__title{
    color: #000;
}
/*.work__group-item__title-right{
    margin-right: -60px;
}
.work__group-item__title-left{
    margin-left: -60px;
}*/
@media(max-width: 768px){
    .work__group-item__title{
        margin: 0;
    }
    .work__group-item__title h3{
       font-size: 28px;
       margin-top: 0px;
       margin-bottom: 10px;
   }
    .work__group-item{
    text-align: left;
}
    .work__group-inner{
     padding-top: 0px;
     padding-bottom: 48px;
}
}
@media(max-width: 992px){
    .work__group-item__title h3{
       font-size: 28px;
       margin-top: 10px;
       margin-bottom: 0px;
    }
    .work__group-item{
    padding-top: 0px;
}
}
.work_group-item__btn.btn-text{
    color: #FFC3B8;
}
.work_group-item__btn.btn-text:before{
    background-color: #FFC3B8;
}

.work__group-imagebox{
    width: 100%;
}
.work__group-imagebox-inner{
    width: 100%;
    padding-top: calc(100% * 3 / 4);
    height: 0;
    position: relative;
}
.work__group-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 0;
}
/*contact*/
.contact{
    position: relative;
}

.contact__formGroup{
    max-width:600px;
    margin-right: auto;
    margin-left: auto;
}
.contact__form input,
.contact__form textarea{
    background-color: inherit;
    margin-top: 10px;
     margin-bottom: 10px;
}
.contact__form label{
    color: #fff;
    font-weight: 600;
}

.info{
    max-width:300px;
    margin-right: auto;
    margin-left: auto;
}

.info .navBar__socialBar{
    margin-right: -10px;
    padding: 0;
}

.info__item{
    display: block;
    color: #000;
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 12px;
}
.info__item:hover,
.info__item:active,
.info__item:focus,
.info .navBar__socialBar-icon i:hover{
    text-decoration: none;
    color: #F2CC39;
}

.footer{
    position:relative;
    color: #76C9BF;
    font-weight: 500;
    margin-top: 100px;
    bottom: 0;
    left: 0;
}

.footer__info{
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}

/*fancybox*/
.carousel__button.is-prev, .carousel__button.is-next{
    position: fixed;
}


/*project*/
.project{
    position: relative
}
.project h4{
    margin-top: 0;
    margin-bottom: 0;
}

.cover{
    height: 100%;
}

.image img{
height: auto;
max-width: 100%;
}

.action__wireframe{
    height: 100vh;
    background-image: url('../img/work/project_1/wireframe.png');
    background-position: center;
    background-size: cover;
}